<div class="center jumbotron">
  <h3> Διάλεξε ομάδα! </h3>

  <div>

    <!-- H lista me tous paiktes ths ghpedouxou omadas -->
     <ul style="list-style-type: none; display: inline-block;">
        <h3> Hometeam </h3>
     		<% @game.hometeam.users.each do |player| %>
       	  <li> <%= link_to "#{player.name}", user_path(player), class: ['btn','btn-link'] %></li>
        <% end %>
        <%= link_to 'Παίξε σε αυτήν την ομάδα' , join_path(@game.hometeam.id), class: ['btn','btn-info']%>
     </ul>


    <!-- H lista me tous paiktes ths filoksenoumenhs omadas -->
     <ul style="list-style-type: none; display: inline-block;">
      <h3> Awayteam </h3>
     	<% @game.awayteam.users.each do |player| %>
       	 <li> <%= link_to "#{player.name}", user_path(player), class: ['btn','btn-link'] %></li>
      <% end %>
        <%= link_to 'Παίξε σε αυτήν την ομάδα' , join_path(@game.awayteam.id), class: ['btn','btn-info'] %>
     </ul>
  <div>

  <div><%= link_to 'Επιστροφή' , :back, class: ['btn','btn-primary']%></div>
  
</div>
