<link rel="manifest" href="/manifest.json" />

<div class="center jumbotron">
  <h2> Διάλεξε ομάδα! </h2>

  <div style="text-align: center;">

    <!-- H lista me tous paiktes ths ghpedouxou omadas -->
     <ol style=" display: inline-block;">

        <h4 > Hometeam </h4>

        <% emptyList = @game.hometeam.capacity - @game.hometeam.users.count %>

     		<% @game.hometeam.users.each do |player| %>
       	    <li> <%= link_to "#{player.name}", user_path(player), class: ['btn','btn-link'] %></li>
        <% end %>

        <% emptyList.times do |e| %>
          <li> κενή θέση  </li>
          <br>
        <% end %>

        <br>
        <br>

        <%= link_to 'Παίξε σε αυτήν την ομάδα' , join_path(@game.id, @game.hometeam.id), class: ['btn','btn-info']%>
     </ol>


    <!-- H lista me tous paiktes ths filoksenoumenhs omadas -->
     <ol style=" display: inline-block;">
      <h4 > Awayteam </h4>

      <% emptyList = @game.awayteam.capacity - @game.awayteam.users.count %>

     	<% @game.awayteam.users.each do |player| %>
       	  <li> <%= link_to "#{player.name}", user_path(player), class: ['btn','btn-link'] %></li>
      <% end %>

      <% emptyList.times do |e| %>
        <li> κενή θέση </li>
        <br>
      <% end %>
      <br>
      <br>

        <%= link_to 'Παίξε σε αυτήν την ομάδα' , join_path(@game.id, @game.awayteam.id), class: ['btn','btn-info'] %>
     </ol>
  <div>
</div>

<div style="text-align: center;"><%= link_to 'Επιστροφή' , games_path, class: ['btn','btn-primary']%></div>
<br>
<button class="push-button" style="text-align: center;">Send notification </button>

<button class="webpush-button" style="text-align: center;">Subscribe </button>


<!-- ==================================== SUBSCRIPTION =====================================-->





