<h1 style="text-align: center; color: white;">Συνδέσου εδω</h1>


<%= form_for :login do |f| %>
  <div class="adminLogin">
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true %>
  </div>

  <br>
  <div class="adminLogin">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <br>
  <div class="adminLogin">
    <%= f.submit "Log In" %>
  </div>
<% end %>
  
<%# ----- end of added lines ----- %>