<h1 style="text-align: center; color: white;">Συνδέσου εδω</h1>
<hr>


<%= form_for :login do |f| %>
  <div class="adminLogin">
    <%= f.label :email , style: 'text-align:center'%>
    <%= f.text_field :email, autofocus: true %>
  </div>

  <br>
  <div class="adminLogin">
    <%= f.label :Κωδικός , style: 'text-align:center'%>
    <%= f.password_field :password %>
  </div>

  <br>
  <div class="adminLogin">
    <%= f.submit "Σύνδεση", class: ['btn','btn-success'] %>
  </div>
<% end %>
  
<%# ----- end of added lines ----- %>