<h2 style="text-align: center; color: white;"> Ενημέρωσε τα στοιχεία σου εδω </h2>
<hr>
<%= form_for  @admin do |t| %>
	<div class="adminEdit">
		<%= t.label :email, style: 'text-align:center' %>
		<%= t.text_field :email , :required => true %> 
  </div>

  <div class="adminEdit">
		<%= t.label :Καινούργιος_κωδικός, style: 'text-align:center' %>
		<%= t.password_field :new_password , :required => true %> 
  </div>

  <div class="adminEdit">
		<%= t.label :Επιβεβαίωση_κωδικου, style: 'text-align:center' %>
		<%= t.password_field :confirm_password  , :required => true%> 
  </div>

  <br>

  <div class="adminEdit">
		<%= t.submit 'Αλλαγη στοιχείων', method: :post, class: ['btn','btn-success'] %>
	</div>

<% end %>