	
<%= month_calendar events: @games do |date, games| %>
  <%= date %>

  <% games.each do |game| %>
    <div>
      <%= game.name %>
      <%= game.start_time.strftime("%I:%M - ") %>
      <%= game.end_time.strftime("%I:%M") %>
      
    </div>
  <% end %>
<% end %>

