	
<%= month_calendar events: @games do |date, games| %>
  <%= date %>

  <% games.each do |game| %>
    <div>
      <%= game.name %>
      <%= game.start_time %>
      <%= game.end_time %>
      
    </div>
  <% end %>
<% end %>

