<h2 style="color: white;"> Επεξεργάσου τα στοιχεία σου </h2>

<%= form_for @user do |u| %>
    <div class="form-group">              
        <div class="col-xs-6">
            <%= u.label :Ονοματεπώνυμο  %>
            <%= u.text_field :name, :required => true %>
        </div>
    </div>


     <div class="form-group">              
        <div class="col-xs-6">
            <%= u.label :θέση %>
            <%= u.text_field :position, :required => true %>
        </div>
    </div>
   
    <div class="form-group">              
        <div class="col-xs-6">
            <%= u.label :Ύψος %>
            <%= u.number_field :height, :class => 'text_field', :step => 0.01, :required => true %>
        </div>
    </div>
  
    <div class="form-group">              
        <div class="col-xs-6">
            <%= u.label :Βάρος %>
            <%= u.number_field :weight, :class => 'text_field', :required => true %>
        </div>
    </div>
   

     <div class="form-group">              
        <div class="col-xs-6">
            <%= u.label :Ημερομηνία_γέννησης %>
            <%= u.date_field :age, :required => true %>
        </div>
    </div>
  

    <div class="form-group">              
        <div class="col-xs-6">
            <%= u.label :Πόλη %>
            <%= u.text_field :location %>
        </div>
    </div>

    <div class="form-group">              
        <div class="col-xs-6">
            <%= u.label :Αγαπημένη_Ελληνική_ομάδα %>
            <%= u.text_field :teamgr %>
        </div>
    </div>
   
    <div class="form-group">              
        <div class="col-xs-6">
            <%= u.label :Αγαπημένη_Ξένη_ομάδα %>
            <%= u.text_field :teameu %>
        </div>
    </div>
    
    <br>  
    <br>  
    
    <div class="form-group">  
        <br>     
        <br>            
       
        <div class="koumpia">
            <%= u.submit  "Αλλαγή στοιχείων", method: :post, :class => "btn btn-success" %>
            <button class="btn btn-success" type="reset"><i class="glyphicon glyphicon-repeat"></i> Αναίρεση</button>
        </div>  
    </div>
<% end %>

