<h3> Συνδεθήκατε επιτυχώς! </h3>
<div>	
  <% unless current_user %> 
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <% else %>
  	<ul>
  	<li><%= current_user.uid %></li>
     <li><%= current_user.name %></li>
     <li><%= current_user.email %></li>
     <li><%= current_user.created_at %></li>
     <li><%= button_to "Logout", destroy_user_session_path, method: :delete %></td>
    </ul>
  <% end %>
</div>

<div id='gametable'>

  <table border="1" id='gametable' >
    
    <% @games.each do |g| %>
      <tr>
        <ul style="list-style-type:none">
          <li id='white'><%= g.start_time %></li>
          <li id='white' ><%= g.end_time %></li>
          <li id='white'><%= g.admin_id %></li>
          <li id='white'><%= g.name %></li>
          <li id='white'><%= g.id %></li>
          <li id='white'><%= link_to 'Delete game' , delete_path(g.id), method: :delete,  data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </tr>
      <br>
    <% end %>
    </ul>
 </table>
</div>

<%= link_to 'Δημιούργησε Παιχνίδι', new_game_url %>
