<h3> Συνδεθήκατε επιτυχώς! </h3>
<div>	
  <% unless current_user %> 
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <% else %>
  	<ul>
  	<td><%= current_user.uid %></td>
     <td><%= current_user.name %></td>
     <td><%= current_user.email %></td>
     <td><%= current_user.created_at %></td>
     <td><%= button_to "Logout", destroy_user_session_path, method: :delete %></td>
    </ul>
  <% end %>
</div>


<container>
	<ul>
		<%= @games.each do |g| %>
			<td><%= t.name %></td>
			<td><%= t.start_time %></td>
			<td><%= t.end_time %></td>
		<% end %>
	</ul>
</container>