<h3> Συνδεθήκατε επιτυχώς! </h3>
<div>	
  <% unless current_user %> 
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <% else %>
  	<ul>
  	<li><%= current_user.uid %></li>
     <li><%= current_user.name %></li>
     <li><%= current_user.email %></li>
     <li><%= current_user.created_at %></li>
     <li><%= button_to "Logout", destroy_user_session_path, method: :delete %></td>
    </ul>
  <% end %>
</div>

<%= link_to 'Δημιούργησε Παιχνίδι', new_game_url %>
<container>
	<ul>

		<%= @games.each do |g| %>
			<td><%= t.name %></td>
			<td><%= t.start_time %></td>
			<td><%= t.end_time %></td>
		<% end %>
	</ul>
</container>