<h3 id ='title'> Ενεργά παιχνίδια! </h3>

<div id="inline1">

  <div  class = "ena" id =" float1">
    <%= link_to 'Δημιούργησε Παιχνίδι', new_game_url, id: 'creategame'%>
  </div>

  <div class ="duo" id='gametable'>
    <table  >
      <% @games.order("created_at DESC").each do |g| %>
        <tr>

          <ul style="list-style-type:none" id = 'gameslayout'>

            <!-- carousel gia tis fwtografies twn ghpedwn -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style = "width:300px; height: 300px; ">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner" role="listbox">

                  <div class="item active">
                      <%=image_tag "#{g.name}/1.jpg" %>
                  </div>

                  <div class="item">
                      <%=image_tag "#{g.name}/2.jpg" %>
                  </div>

                  <div class="item">
                      <%= image_tag "#{g.name}/3.jpg" %>
                  </div>

                </div>


                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>   
            </div>   

            <% @stadio = Stadium.find(g.admin_id) %>
            <% players_joined = g.hometeam.users.count + g.awayteam.users.count %>
            <!-- kapoia stoixeia gia ton agwna -->
            <li id='white'><%= "Όνομα γηπέδου : " + g.name %></li>
            <li id="white"><%= "Ημερομηνία αγώνα : " + g.start_time.strftime("%d/%m/%Y").to_s %></li>
            <li id='white'><%= "'Ωρα διεξαγωγής : " + g.start_time.strftime("%I:%M - ").to_s + g.end_time.strftime("%I:%M").to_s %></li>
            <li id="white"><%= "Τιμή : " + @stadio.price + "ανα άτομο" %></li>
            <b><li style="color: red;"><%= "Άτομα : " + players_joined.to_s + "/" + @stadio.max_players.to_s %></li></b>
            
          
              <%= link_to 'Join game' , game_teams_path(g.id), id: 'join' %>
            </li>
          </ul>
        </tr>
        <br>
      <% end %>
      </ul>
   </table>
  </div>

  <div  class="ena" id = "float">  
  
      <div style="color: green;"><%= current_user.name %><div>
      <div><%= image_tag(current_user.smallimage) %> </div>
    
  </div> 
  
</div>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>






