<h2 style="color:white;"> Δημιούργησε παιχνίδι !</h2>

<%= form_for (@game) do |f| %>

  <div id="parent">

    <div style="overflow-x:auto;margin-left: 10%;">
      <table id="ghpeda" align="center">

        <% @stadia.each do |t| %>

          <th style = "width:100px; height: 150px;" >
               <h3><%="Γήπεδο : " + t.stadium_name %></h3>
              <%=image_tag "#{t.stadium_name}/2.jpg" %>
             
              <!--<p><%= t.admin_id.to_s %></p>-->
              <p><%= "Χωρητικότητα : " + t.max_players.to_s %></p>
              <p><%= "Τιμή : " + t.price.to_s + "/άτομο"%></p>

              <div>
                
              <%= f.label :Επέλεξε_ενα_εδώ %>
              <%= f.radio_button  :name, t.stadium_name  , :required => true  %>

              </div>
          </th> 
        <% end %>
      </table>
    </div>
    <br>
    
      <div id="inline">
        <div class="one">
           <%= f.label :Ποιά_μέρα_θές_να_παίξεις? %>
           <%= f.date_field :start_time , :required => true  %>
         </div>
      

        <div class="two">
          <%= f.label :Ποιά_ώρα_θές_να_παίξεις? , :id => "label" %>
          <div class="input-group clockpicker" id="float"  data-placement="bottom" data-align="top" data-autoclose="true" >
          

            <input  type="text" class="form-control" id="time1"  name="game[time]"required>

            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span> 
          </div>

        </div>
      </div>
       
    <br>
    <br>
    <br>

    </div>

    <div id="newgame">
      <%= f.submit "Δημιούργησε το παιχνίδι" , class: ['btn','btn-success'] %>
    </div>
  <% end %>



<br>
<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script type="text/javascript">
    $('.clockpicker').clockpicker();
</script>


  


