<% provide(:title, "App") %>
<!DOCTYPE html>

<html>
  <head>
    <title><%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: 'google_maps', content:'AIzaSyBZZ_xemsf-NjF4N4PZgdXZZL-AhUK70xE' %>

   <meta name="apple-mobile-web-app-capable" content="yes">
</head>
  
  <body>

    <%= render  'navigator' %>

    <div class="container">
    
      <!-- morfopoihsh twn mhnhmatwn rohs -->
        <% if notice %>
          <div id='notice_wrapper'>
            <p class = "notice"><%= notice %></p>
          </div>
        <% elsif alert %>
          <div id = 'alert_wrapper'>
            <p class = 'alert'><%= alert %></p>
          </div>
        <% end %>
      <!-- ews kai edw -->

      <%= yield %>
     
      <%= debug(params) if Rails.env.development? %>

    </div>

    <div>
      <%= render 'layouts/footer' %>
    </div>

    <!-- script for beautiful layouts -->
    <script>
        $(document).ready(function() {
          setTimeout(function(){
            $('#notice_wrapper').fadeOut("slow", function(){
              $(this).remove();
            })
          }, 4500);
        });
    </script>
    
  </body>
</html>
