<% provide(:title, "App") %>
<!DOCTYPE html>

<html>
  <head>
    <title><%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>

    <div class="container">

     <% if !current_admin.nil? %>

      <% if current_page?(show_path(current_admin)) %>
         <%= render partial: 'layouts/navigatorAdmin'  %>
      <% else %>
          <%= render partial: 'layouts/navigator'  %>
      <% end %>

    <% end %>


    
      <%= notice %>
      <%= alert %>

      <%= yield %>
      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>

</html>
